<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p id="js-test"></p>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-6 col-sm-push-3">
      <input type="text" id="js-input" class="form-control"/>
    </div>
  </div>
</div>
